body {
    background-color: #e6e3e3;
}

header {
    background-color: #CCCCCC;
    color: #4D732D;
    padding: 15px;
    position: fixed;
    text-align: center;
    top:0;
    left: 0;
    right: 0;
}

nav {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
    font-size: 24px;
}

nav a {
    display: inline-block;
    margin: 0 40px;
    padding: 15px 15px;
}

nav a:hover {
    background-color: #b8b4b4;
    color: white;
}

.slogan {
    font-size: 50px; 
    color: rgb(137, 122, 47);
    font-style: italic;
    text-shadow: rgb(176, 175, 175) 3px 2px 0.05em
}

main {
    padding: 20px;
}

.title {
    display: block; 
    margin: 10px 10px 50px 10px;
    font-weight:bold;
    font-size: 30px;
    color: white;
    background-color: #898989;
    text-align: left;
    border-radius: 10px;
    padding: 10px 30px;
}

.title2 {
    text-align: center; 
    font-size: 40px; 
    box-shadow: 0 2px; 
    color: rgb(137, 122, 47);
}

.title3 { 
    font-size: 40px; 
    box-shadow: 0 2px; 
    color: rgb(137, 122, 47);
}

.photo1 {
    border-radius: 50%; 
    width: 350px; 
    display: inline-block; 
    margin: 0px 360px 20px 0px; 
}

.photo2 {
    border-radius: 5%; 
    height: 300px; 
    display: inline-block; 
    margin: 0px 50px 20px 0px;
}

.photo3 {
    border-radius: 5%; 
    height: 600px; 
    display: inline-block; 
    margin: 0px 50px 20px 0px;
}

.txt1 {
    display: inline-block;
    margin: 10px 0px 10px 10px;
    font-weight:bold;
    font-size: 23px;
    color: black;
    background-color: #d8d5d5;
    border-radius: 10px;
    padding: 10px 30px;
    width: 600px;
}

.txt2 {
    display: inline-block;
    font-weight:bold;
    font-size: 30px;
    color: black;
    background-color: #d8d5d5;
    border-radius: 40px;
    padding: 10px 30px;
    width: 300px;
    height: 350px;
    margin: 40px;
}

.txt3 {
    display: block;
    font-weight:bold;
    font-size: 23px;
    color: black;
    background-color: #d8d5d5;
    text-align: left;
    border-radius: 10px;
    padding: 10px 30px;
    height: auto;
    margin: 30px;
}

.txt4 {
    display: inline-block;
    font-size: 35px;
    font-weight:bold;
    font-family:monospace;
    margin: 0px 45px;
    color: rgb(137, 122, 47);
}

.txt5 {
    font-size: 23px;
    text-align: center;
    font-family:monospace;
    color: #898989;
}

.text {
    display: inline-block;
    width: auto;
    word-wrap:break-word;
    margin: 10px 0px 10px 10px;
    font-size: 25px;
    color: black;
}

.card1 {
    height: auto;
    padding: 40px;
    background-image: url(image/background.jpg);
    background-size: cover;
    
    margin: 60px 70px;
    border-radius: 15px;
    border-style:solid;
    border-width: 3px;
    border-color: #898989;
    text-align: center;

}

.card2 {
    height: auto;
    padding: 40px;
    background-image: url(image/background2.jpg);
    background-size: cover;
    
    margin: 60px 70px;
    border-radius: 15px;
    border-style:solid;
    border-width: 3px;
    border-color: #898989;
    text-align: center;
}

.information {
    text-align: left;
    margin: 20px 60px 20px 30px;
}